header {
    display: flex;
    align-items: center;
}

nav {
    margin-right: 24px;
   
    
}

.nav1, .nav2, .nav3, .nav4 {
    font-size: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8px;
    margin-right: 8px;
    color: black;
    display: inline; 
}

.nav4 {
    margin-right: 24px;
}

.blackbold {
    color: black; 
    font-weight: bold; 
    font-size: 32px;
}
.gray {
    color: lightgray; 
    font-size: 32px;
    margin-right: auto;
}


.logo {
    height: 86px;
    margin-left: 24px;
}

.learn {
    background: lightgray;
    display: flex;
    align-items: center;
}

.title2 {
    color: #52527a;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
    margin-bottom: 24px;
    width: 100%;
    padding-left: 24px;
    margin: 0;
}

.p {
    color: #52527a;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold;
}

.learn button {
    height: 55px;
    background: dimgray;
    width: 100%;
    color: white;
    font-size: 15px;
    
}

.practice {
    display: flex;
    justify-content: center;
}

.title1 { 
    font-family: "Montserrat";
    font-size: 50px;
    margin-left: 40px;
    margin: 32px 24px;
    font-weight: bold;
    color: dimgray;


}
.practiceparagraph {
    font-size: 26px;
    font-color: lightgray;
    font-family: "Montserrat", "sans-serif";
    width: 96%;
    margin-left: 25px;
}

.Emanuel {
    font-family: "Montserrat", "sans-serif";
    font-size: 20px;
    margin-left: 25px;
}

body {
    margin: 0;
}

.banner1 {
    padding: 32px 24px;
    width: 60%;
}

.banner2 {
    width: 100%;
    padding: 32px 24px;
}

}
.learnright {
    display: inline;
}

.left {
    width: 60%;
}
.right { 
    width: 40%;
    height: 100%;
}

.orientation, .campus, .guest {
    display: flex;
    align-items: center;
    border: 3px solid gray;
}

.orientationimage, .campusimage, .guestimage {
    height: auto;
    width: 35%;
    margin: 16px 16px;
}

.texttop, .textmiddle, .textbottom {
    width: 65%;
}

.guest {
    background: rgb(214, 208, 208);
}

.courses {
    background: rgb(214, 208, 208);
   
}

.coursesh1 {
    color: black;
    padding: 32px 0px;
    text-align: center;

}

.row1 {
    display: flex;
    
}
.row2 {
    display: flex;
}

.r1p1 {
    margin-left: 72px;
    margin-right: 32px;
}

.r1p3 {
    margin-right: 72px;
    margin-left: 32px; 
}

.r1p1, .r1p2, .r1p3 {
    height: auto;
}
